nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
body{
    font-family: 'Lato'sans-serif;
    font-family: 'open sans'sans-serif;
}
.portfolio{
    color: #181818;
    font-size: 45px;
    font-weight: 800px;
 
}
.me{
    color: darkred;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    color: black;
}
nav a{
    text-decoration: none;
}
.btn{
    border-radius: 5px;
    background-color: blueviolet;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;
}
.header{
    background-color: #FFF8F3;
}
.banner .bean{
    padding: 30px 30px 30px 150px ;
    display: flex;
  
    

    



    

